:root {
  --color-accent: #0E2635;
  --color-light: #F7F7F7;
  --color-hover: #5B8995;

  --font-family-main: 'Playfair Display', serif;
  --font-family-complimentary:  'Fira Sans Condensed', sans-serif;
  --font-family-paragraph: 'Libre Franklin', sans-serif;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  margin-top: -40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--color-hover);
}
h1 {
  font-family: var(--font-family-main);
  font-size: 3.3em;
}
h2 {
  font-family: var(--font-family-complimentary);
}
p {
  font-family: var(--font-family-paragraph);
  font-size: .9em;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}


/* MENU */
nav {
  position: sticky;
  top: 0;
  z-index: 3;

  width: 100vw;
  height: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-accent);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);

  font-family: var(--font-family-complimentary);
}
nav a {
  color: var(--color-light);
  text-align: center;
}
.menu__links {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.85em;
  font-weight: 600;
}
.menu__links a {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 0 10px;
  text-align: center;
}
.menu__some {
  margin-left: 1%;
  font-size: 30px;
}
.current-page {
  background-color: rgba(255, 255, 255, 0.4);
}
.current-page:hover {
  color: var(--color-light);
}


/* BUTTONS */
button {
  height: 32px;
  padding: 5px 15px;
  margin: 10px;

  border: 2px solid var(--color-light);
  border-radius: 5px;

  font-family: var(--font-family-complimentary);
  font-size: 0.85em;
  font-weight: 600;

  cursor: pointer;
}
button:hover {
  background-color: var(--color-hover);
}
.btn--dark {
  color: var(--color-light);
  background-color: rgba(255, 255, 255, 0.30);
}
.btn--light {
  color: var(--color-accent);
  background-color: var(--color-light);
}
.btn--blue {
  border: none;
  box-shadow: 0 3px 6px gray;
  color: var(--color-light);
  background-color: var(--color-accent);
}


/* ABOUT */
.wrapper__about {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  width: 100vw;

  color: var(--color-light);

  background-color: #162431;
}
.about__img {
  height: 100%;
}
.about__text {
  width: 34%;
  margin-right: 6%;
  margin-left: 3%;
}
.about__text h1 {
  margin: 0;
}
.about__text h2 {

}
#artistAboutText {
  font-family: var(--font-family-paragraph);
  font-size: 1em;
  line-height: 1.4;
}
.about__buttons {
  margin-top: 20%;
}


/*** SECTION GALLERY ***/
.wrapper__gallery {
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 13%;

  background-color: var(--color-light);
}
.gallery__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 75%;

  background-color: var(--color-light);
}
.gallery__thumbnails img {
  width: 70%;
  margin: 4px;
  cursor: pointer;
  filter: brightness(50%);
}
.gallery__thumbnails img:hover {
  filter: brightness(100%);
}
.thumbnail__btn {
  position: relative;
  width: 70%;
  margin: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thumbnail__btn img {
  width: 100%;
  cursor: auto;
}
.thumbnail__btn img:hover {
  filter: brightness(50%);
}
.thumbnail__btn button {
  position: absolute;
  top: 35%;
  left: -15%;

  width: 110%;
  height: 60%;
}
#galleryPreview {
  width: 90%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}
#video {
  width: 100%;
  height: 100%;

  border: none;
}
#picture {
  height: 100%;
}

/* SECTION ACTING CREDITS */
.wrapper__credits {
  width: 89%;
  margin: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-accent);
}
.credits__header {
  width: 92%;
  height: 100px;
  margin: 0;
  padding-left: 8%;
  padding-bottom: 8px;
  flex-wrap: wrap;

  display: flex;
  align-items: flex-end;
  font-size: 2.4em;
  background-color: var(--color-light);
}
#credits__movies {
  width: 100%;
  height: auto;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie-card {
  min-width: 140px;
  max-height: 250px;
  margin-right: 8px;
  margin-bottom: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  color: var(--color-accent);
  font-family: var(--font-family-complimentary);
  background-color: var(--color-light);
}
.movie-card:last-child {
  margin-right: 0;
}
.movie-card img {
  width: 90%;
  height: 100px;
  margin-top: 8px;
}
.movie-card a {
  color: var(--color-accent);
  font-size: 2em;
}
.movie-card a:hover {
  color: var(--color-hover);
}
.movie-card h3 {
  margin: 8px 4px 4px;
  font-size: 1.2em;
}
.movie-card p {
  margin: 4px;
  font-size: 0.8em;
  text-align: center;
}
.wrapper__credits button {
  height: 50px;
  width: 250px;
  margin: 20px 100px 100px;

  border: 2px solid var(--color-accent);
}

/* FOOTER */
footer {
  width: 100%;

  color: var(--color-light);
  background-color: var(--color-accent);
  box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.2);
}
.contacts {
  width: 90%;
  height: 70%;
  padding: 1% 5%;

  display: flex;
}
.contacts div {
  width: 25%;
  margin-right: 30px;
  border-bottom: 1px solid var(--color-light);
}
.contacts__name {
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 2em;
  font-family: var(--font-family-main);
}
.contacts__title {
  margin-top: 0;
  font-size: 1.1em;
  font-weight: 500;
  font-family: var(--font-family-complimentary);
}
.footer__some {
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__some a {
  margin-left: 5px;
  color: var(--color-light);
}
.footer__some a:hover {
  color: var(--color-hover);
}
.contacts__phone {
  margin-bottom: 0;
}
.contacts__email {
  margin-top: 0;
}

/* MOBILE NAVIGATION */
/* reference from: https://codepen.io/ProgrammingRockstar/pen/WadNYO */
#menuToggle {
  display: none;

  position: fixed;
  bottom: 0;
  z-index: 4;

  height: 65px;
  width: 100vw;

  -webkit-user-select: none;
  user-select: none;
  background-color: var(--color-accent);
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.6);
}
#menuToggle input {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 45%;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  -webkit-touch-callout: none;
}
 /* hamburger */
#menuToggle span {
  position: relative;
  left: 48%;
  top: 12px;
  z-index: 2;

  display: block;

  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: var(--color-light);
  border-radius: 3px;

  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--color-light);
}
/* hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 100vw;
  height: 110vh;
  margin: -100vh 0 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align:center;

  background: var(--color-accent);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(0, -120vh);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
ul {
  padding: 0;
  color: var(--color-light);
}
ul h1 {
  margin: 0;
}
ul h2 {
  margin-top: 0;
  margin-bottom: 5%;
}
ul a {
  padding: 2%;
  font-family: var(--font-family-complimentary);
  font-size: 20px;
  color: var(--color-light);
}
/* slide it in */
#menuToggle input:checked ~ ul {
  transform: none;
}

/* HEADER */
.section__header {
  height: 25vh;
  width: 100vw;

  display: flex;
  align-items: center;

  color: var(--color-light);
  background-color: #162431;
}
.header__text {
  margin: 0 5%;
}
.header__text h1 {
  margin: 0;
  font-size: 2.2em;
}
.header__text h2 {
  margin: 0;
  font-size: 1.3em;
}
.header__img {
  margin-left: 12%;
  height: 100%;
}

/* SECTION ABOUT COMPANY */
.section__about-company {
  width: 90%;
  margin-bottom: 50px;
}
.section__about-company h1 {
  width: 95%;
  font-size: 1.8em;
  margin: 8px 0;
  padding-top: 5%;
  padding-left: 5%;

  color: var(--color-accent);
  background-color: var(--color-light);
}
.about-company__text--container {
  width: 100%;
  display: flex;
}
.about-company__text {
  width: 39%;
  padding: 5%;
  margin: 0 1% 0 0;

  color: var(--color-accent);

  background-color: var(--color-light);
}
.about-company__text h2 {
  font-size: 1.9em;
  margin: 0;
}
.about-company__gallery {
  width: 60%;
  height: 100%;

  background-color: var(--color-light);
}
#img__preview {
  width: 100%;
  height: 89%;
  margin: 0 0 1%;
  background-color: var(--color-light);
}
#mini-gallery {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}
.img-thumbnail {
  height: 100px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  filter: brightness(30%);
  cursor: pointer;
}
.img-thumbnail:hover {
  filter: brightness(100%);
}

/* SECTION CONTACTS */
.contacts__container {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
}
#contacts__img {
  width: 500px;
  margin-right: 2%;
}
.section__contacts {
  height: 100%;
  width: 50%;
  flex-direction: column;
}
.contacts__card {
  width: 300px;
}

/* SECTION CREDITS */


