/* MEDIA QUERIES*/
/* Phone and tablet screens*/
@media screen and (max-width: 800px) {
    nav {
        display: none;
    }
    main {
        margin-top: 10px;
    }
    footer{
        display: none;
    }
    #menuToggle {
        display: block;
    }
    .menu__some {
        margin-left: 0;
        padding-bottom: 4%;
        width: 90%;
        height: auto;
        font-size: 30px;
    }
    .wrapper__about {
        flex-direction: column;
        height: auto;
        margin: 0;
    }
    .about__img {
        width: 60%;
        height: auto;
    }
    .about__text {
        width: 60%;
        padding: 8% 10%;
        margin-top: -100px;
        background-color: var(--color-accent);
    }
    .wrapper__gallery {
        width: 100%;
        flex-direction: column;
    }
    .gallery__thumbnails {
        flex-direction: row;
        margin-top: 10px;
        height: 150px;
        width: 100%;
    }
    .gallery__preview {
        height: 70%;
        width: 100%;
    }
    .gallery__thumbnails img {
        width: 17%;
    }
    .thumbnail__btn {
        width: 17%;
    }
    .thumbnail__btn img {
        width: 100%;
    }
    .thumbnail__btn button {
        position: absolute;
        top: 35%;
        left: -10px;

        width: 100%;
        height: auto;
        text-align: center;
    }
    #galleryPreview {max-width: 90%;}
    .wrapper__credits {
        width: 100%;
        height: auto;
        margin: 0;
    }
    #credits__movies {
        margin-top: 8px;
    }
    #galleryPreview { max-width: 90vw;}
    .section__about-company {
        width: 100%;
    }
    .about-company__text {
        width: 50%;
        padding: 10% 15%;
        margin-bottom: 8px;
    }
    #teaxtAboutCompany {
        font-size: 18px;
    }
    .about-company__gallery {
        width: 100%;
    }
    .about-company__text--container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .contacts__container {
        margin: 1% 0 6%;
        padding: 1% 0;
        flex-direction: column;
    }
    .contacts__card {
        width: 100%;
    }
    #contacts__img {
        height: 40vh;
        width: auto;
        margin: 20px 0 40px;
    }
    .contacts__name {
        width: 90%;
        margin: 0;
    }

    @media screen and (max-width: 470px){
        #demoVideoFour, #demoVideoTwo {
            display: none;
        }
        .gallery__thumbnails img {
            width: 20%;
        }
        .thumbnail__btn {
            width: 20%;
        }
        .thumbnail__btn img {
            width: 100%;
        }
        .gallery__preview {
            height: 50%;
            width: 100%;
        }
        .wrapper__gallery {
            height: 60vh;
        }
        #contacts__img {
            height: 20vh;
            width: auto;
        }

    }


}